.grid-full-width {
  width: 98%;
  margin: 1em 1%;
}

.grid-middle-width {
  width: 48%;
  margin: 1em 1%;
}

.grid-third-width {
  width: 31%;
  margin: 1em 1%;
}

.grid-quarter-width {
  width: 23%;
  margin: 1em 1%;
}

.grid-eighth-width {
  width: 10.5%;
  margin: 1em 1%;
}

.grid-tenth-width {
  width: 8%;
  margin: 1em 1%;
}
